{{extend 'base.html'}}
{{=form.custom.begin}}

    <div class="form-group">
        <label class="control-label">Cep</label>
        {{form.custom.widget.cep}}
    </div>
    <div class="form-group">
        <label class="control-label">Nome</label>
        {{form.custom.widget.nome}}
    </div>
    <div class="form-group">
        <label class="control-label">Uf</label>
        {{form.custom.widget.cep}}
    </div>
    <div class="form-group">
        <label>Select Example</label>
        <select class="form-control">
            <option>One Vale</option>

        </select>
    </div>

{{=form.custom.end}}